/* flatdoc constants */

$flatdoc_header_height: 20px;
$flatdoc_header_padding_top_bottom: 30px;
$flatdoc_header_margin: 0;
$flatdoc_header_border: 1px;

$flatdoc_header_height_total: $flatdoc_header_height + $flatdoc_header_padding_top_bottom + $flatdoc_header_margin + $flatdoc_header_border;

$flatdoc_body_font_size: 13px;


/* color constants */

$GRAY: #4a4a4a;
$LIGHT_GRAY: #e9e8e3;
$DARK_GRAY:	#3a3a3a;
$DARK_BLUE:	#363b48;	
$FUXSIA: #df3f54;
$LIGHT_FUXSIA: #f17c71;
$ZENBURN_BG: #3f3f3f; 


/* font constants */

$Lato: 'Lato', sans-serif;
$Dosis: 'Dosis', sans-serif;


/* classes */

.clearfix { clear: both; }
.fixed { 
  position: fixed;
  z-index: 1000;
}
.fullwidth { width: 100%; }
.screan-reader-text {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  font-size: 0;
}
.hidden { display: none; }
.top0 { top: 0; }


/* */
/* enjoy-mondays pattern variables */

/* test template variables */
/* $theme, $background combos, $a_color, $base_font_color and set into rule / options string */

  /*$theme: enjoy-mondays;*/
  $theme: #enjoy-mondays;


  /* colors */
  $background_1 : $LIGHT_GRAY;
  $background_2 : $DARK_GRAY;
  $background_3 : $DARK_BLUE;
  $background_4 : $FUXSIA;

  $a_color: $DARK_GRAY;
  $base_font_color: $GRAY;


  /* typos */

  $font_1: $Lato;
  $font_2: $Dosis;

  $bolder: 900;
  $light: 100;
  $bold: 600;

  $base_font_size: 62.5%; 
  $p_size: 1.25em; 
  $a_size: 1em; 
  $h_size: 2.5em; 


/* */
/* elements */

/* header */

$fix_header_aux_height : $flatdoc_header_height_total;
$main_header_height: $flatdoc_header_height;

/* links */

$fucsia_border_bottom: solid $FUXSIA 3px;
@mixin active_link { border-bottom: $fucsia_border_bottom; }
@mixin visited_link {
  border-bottom: none;
  color: $FUXSIA;
}


/* */
/* enjoy-mondays css TODO refactor later */
/* positioning, box model, typo, visual*/

body#{$theme} { 
  font-family: $font_1;
  font-weight: $light;
  /*font-size: $base_font_size;*/ /* flatdoc theme has body 13px */
  color: $base_font_color;
  background-color: $background_1; 
}

/* left menu and central content background need re-stating */
#{$theme} .content-root,
#{$theme} .menubar,
#{$theme} .content {
  background-color: $background_1;
}
  

/* links */

#{$theme} a {
  text-decoration: none;
  font-size: $a_size;
  color: $a_color;
  font-weight: $bolder;
}

#{$theme} a:active { 
  @include active_link;
}

#{$theme} a:hover, #{$theme} a.active {
  @extend a:active;
}

/* or, using flatdoc representation, change only 'dash' color: */
#{$theme} .menu a.active:after {
  background-color: $FUXSIA;
}

#{$theme} .menu a:visited, 
#{$theme} .menu a:hover,
#{$theme} .menu a.active {
  @include visited_link;
}


/* headers */

#{$theme} h1, h2, h3, h4, h5,h6 {
  font-family: $font_2 !important;
  font-weight: $bold !important; 
}

#{$theme} h1 {
  font-size: $h_size;  
  text-transform: uppercase;
}


  /* nav header for flatdoc */

#{$theme} .header {
	height: $main_header_height;
	background-color: $background_1;
}
#{$theme} #fixed-header-aux {
	height: $fix_header_aux_height;
}

 /* TODO if menubar has class fixed, animate header to the left */
 #{$theme} .header .left {
  position: relative;
  left: 220px;
 }



 /* elements */ 

#{$theme} p {
  font-size: $p_size;
}

#{$theme} hr {
  border: 0;
  height: 3px;
  width: 18%;
  margin: 0 auto 3%;
  clear: both;
}


/* hightlight js fix */
#{$theme} .hljs {
  background-color: #3f3f3f !important;
}

/* 3 column background fix */
@media (min-width: 1180px) {
  
  #{$theme} .content h1,
  #{$theme} .content h2 {
    max-width: 550px;
  }

  .content ul, .content ol {
    margin-left: 0;
    padding-left: 60px !important;
  }

  #{$theme} .content h1:first-child {
    padding-top: 30px;
  }

  #{$theme} .content > *:last-child {
    padding-bottom: 40px;
  }

  #{$theme} .content {
    background-color: $ZENBURN_BG !important;
    padding-top: 0;
    padding-bottom: 0;
  }

  #{$theme} .content h1,
  #{$theme} .content h2,
  #{$theme} .content p,
  #{$theme} .content ul,
  #{$theme} .content ol {
    background-color: $background_1;
    position: relative;
    z-index: 2;
 }

 #{$theme} .content-root {
   background-color: $ZENBURN_BG !important;
 }

 /* fill rest of bg above pre tags...chapucilla, just checking if all this works, but at least this should be done with script */
 #{$theme} .content pre + p {
   margin-top: -130px !important;
   padding-top: 140px !important;
   z-index: 1;
 }
}


