
/* *********************************** defaults */
.ui-loader {
	display: none;
}
* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
}
body {
	background-color: #E9E8E3; 
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: black;
}
a {
	text-decoration: none;
}
ul, li {
	list-style: none;
}
h1, h2, h3, h4, h5,h6 {
	font-family: 'Dosis', sans-serif;
	font-weight: 600; 
	text-align: right;
}
h1 {
	font-size: inherit;
	text-transform: uppercase;
}
p {
	font-size: .2em;
}
hr {
	border: 0;
	height: 3px;
	width: 18%;
	margin: 0 auto 3%;
	clear: both;
}
/* ************************************** classes */
.clearfix {
	clear: both;
}
.fixed {
	position: fixed;
}
.fullwidth.container {
	width: 100%;
}
.screen-reader-text { /* TODO check if using this */
	left: -9999px;
	position: absolute;
	top: -9999px;
}
.hidden {
	display: none;
}
/* ********************************* base styles */

/* ************ fonts */
/* lato light (100)
/* lato regular (400)
/* lato bold (700)
/* lato black (900)
/* dosis semibold (600)
 */

/* ******************************* basic layout*/
html {
/*	height: 100%;
	opacity: 0;*/
}
body {
/*	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;*/
}
/* ************************************ HEADER */
#main-header {
	overflow: visible;
}
#main-header.top.fixed {
	top: 0;
	height: 116px;
	width: 100%;
	background-color: #E9E8E3;
	z-index: 1000;
}
#fixed-header-aux {
	height: 116px;
}
/* *********************** logo */
#logo {
	display: inline-block;
	float: left;
	margin-left: 4.53%; /*62px;*/
	margin-top: 42px;
}
#logo img {
	width: 146px;
	height: 99px;
}
#logo a {
	display: block;
}

/* ******************* menu navigation */
nav {
	float: right;
	margin-right: 80px;
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
}
nav {
	margin-top: 77px;
	position: relative;
}
nav a {
	float: left;
	padding: 3.5px 4px;
	margin-left: 10px;
	color: inherit;
}
nav a.active-link {
	font-weight: 900;
	border-bottom: solid #DF3F54 3px !important; /* need to override .touch class no border */
}
nav a:hover {
	font-weight: 900;
	border-bottom: solid #DF3F54 3px; /* .touch has to override this */
}

/* *********************************** SECTIONS */
.page {
	padding-right: 68px;
	text-align: right;
}
.page.is-active {
}
.page header {
	display: inline-block;
}
.page header span {
	display: inline-block;
	float: right;
}
.s-header-one {
	margin-bottom: -7%;
}
.s-header-two {
	clear: both;
}
.page .sub-header {
	text-align: center;
	float: right;
}
.content {
	margin-right: -68px;
	text-align: center;
	padding-top: 10%;
}
/* ************ HOME */
#home {
	padding-top: 3%; /*12vh;*/
	background-color: #E9E8E3;
	color: #393939;
}
#smile {	
	position: relative;
	left: 15px;
	height: 0.456em;
}
#home header hr {
	color: #272727;
	background-color: #272727; 
}
#home .s-header-one {
	float: none;
}
#home .s-header-two {
}
#home .sub-header {
	margin-top: 15px;
	margin-bottom: 6%;
	color: #4A4A4A;
	padding-left: 4%;
	width: 50%;
}
/* ************ WORK */
#work {
	padding-bottom: 138px;
	padding-top: 34px;
	background-color: #3A3A3A;
}
#work h1 {
	color: #E9E6E3;
}
#work header hr {
	color: #F17C71;
	background-color: #F17C71; 
}
#work .sub-header {
	width: 100%;
	color: #E9E5E3;
}
#work .emb_gallery" {
	display: inline-block;
}
#work .content .thumb {
	display: inline-block;
	margin: 16px 22px;
}
#work .content .thumb img {
	display: inline-block;
}
#portfolio a {
	display: block;
}
#portfolio img:hover {
	cursor: pointer;
}
#portfolio a:hover {
	cursor: pointer;
}
#portfolio .thumb:hover {
	cursor: pointer;
}

/* ************ PROJECT gallery */
#closeGallery a {
	width:95px;
	height:95px;
	background:transparent url(../images/close.png) no-repeat top left;
	position:absolute;
	top:50px;
	right:70px;
	text-indent:-9000px;
}
/* ************ PORTFOLIO project details */
#portfolio .thumb a {
	position: relative;	
}
#portfolio img {
	transition: transform 0.4s;
}
.no-touch #portfolio .thumb:hover img
, #portfolio .thumb.cs-hover img {
	transform:  translate(-70px, -70px) scale(0.7);
}
.he-second {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	font-size: .2em;
	height: 100%;
	width: 100%;
	color: white;
	text-align: left;
	transition: opacity 1s;
}
.he-second:hover {
	opacity: 1;
}
.he-second h3 {
	margin-top: 60%;
	text-align: left;
}
.he-second p {
	position absolute;
	bottom: 20px;
	right: 20px;
	font-size: 0.5em;
}
.he-second span {
	font-size: .75em;
}


/* ************ ABOUT */
#about {
	padding-top: 6%;
	padding-bottom: 7%;
	background-color: #363B48;
}
#about h1 {
	color: #E9E7E3;
}
#about header hr {
	color: #F17C71;
	background-color: #F17C71; 
}
#about .sub-header {
	color: #E9E5E3;
}
#about p {
	font-size: 0.14em;
}
#about .content {
	padding-top: 7%;
}
#about .content article {
	display: inline-block;
	margin: 36px 40px;
	text-align: center;
	color: #E9E5E3;
	width: 21%;
	vertical-align: top;
}
#about .content article img {
	display: inline-block;
	width: 91%;
}
#about .content hr {
	color: #E9E8E3;
	background-color: #E9E8E3;
	width: 50px;
	margin: 0 auto 4%;
}
/* ************ CONTACT */
#contact {
	background-color: #DF3F54;
}
#contact header hr {
	color: #F17C71;
	background-color: #F17C71; 
}
#contact h1.s-header-one {
	color: #393939;
}
#contact .sub-header {
	width: 41.8%;
	margin-right: 4%;
	display: inline-block;
	color: #E9E7E3;
	font-weight: 400;
}
#contact .s-header-one {
	margin-bottom: 0;
}
#contact .s-header-two {
	color: #E9E7E3;
}
#contact p {
	font-size: 0.21em;
}
/* ************************** FOOTER */
 footer {
 	/*height: 100px;*/
 	height: 100%;
 	/*padding: 20px 0;*/
	background-color: #3A3A3A;
	width: 100%;
}
/*footer #bg {
	height: 100px;
	background-color: #DF3F54;
}*/
footer p {
	float: left;
	padding: 2.5% 0; /* same as social */
	margin: 0 68px;
	font-weight: 700;
	font-size: 16px;
	color: #E9E6E3;
	line-height: 35px; /* same as #social */
}
footer p a {
	color: #DF3F53;
	font-weight: 900;
}
#social {
	margin: 0 68px;
/*	padding-top: 15px;	*/
	padding: 2.5% 0;
	text-align: right;
}
#social li {
	display: inline-block;
	padding-left: 6px;
}
#social li:hover {
	cursor: pointer;
}



